*{
    padding: 0px;
    margin: 0px;
}
.container {
    height: 100vh;
    width: 1000px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

nav{
    background: rgb(255, 255, 255);
    height: 70px;
    flex: 1;
}

main{
    background: rgb(255, 255, 255);
    height: 1000px;
}
.row1 {
background: rgb(255, 255, 255);
height: 100px;
}

.row1 .garisbawah2 {
    display: none;
}

.row2 {
    background: rgb(255, 255, 255);
    height: 400px;
    }

    .row3 {
        background: rgb(255, 255, 255);
        height: 500px;
        width: 60%;
        position: relative;
        float: left;
        }
    
        .row4 {
            background: rgb(255, 255, 255);
            height: 670px;
            width: 40%;
            position: relative;
            float: right;
            }

        .row4 .garisbawah2 {
            display: none;
        }    

            .row5 {
                background: rgb(255, 255, 255);
                height: 400px;
                width: 60%;
                position: relative;
                float: left;
                }

                .row6 {
                    background: rgb(255, 255, 255);
                    height: 420px;
                    width: 60%;
                    position: relative;
                    float: left;
                    }   
     
                    *{
                        padding: 0px;
                        margin: 0px;
                    }
                    
                    
                    nav .menu {
                        width: 200px;
                        height: 50px;
                        margin: 20px;
                        float: left;
                    }
                    
                    nav .menumobile {
                        display: none;
                    }


                    nav ul li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 30px;
                    color: black;
                    padding-top: 5px;
                    
                    
                    }
                    
                    nav ul li a {
                    
                        text-decoration: none;
                        color:black;
                        font-size: 15px;
                        font-family:"Tahoma"
                    }
                                        
                    .search-box {
                        position: absolute;
                        top: 34px;
                        transform: translate(-50%,-50%);
                        background: rgb(228, 228, 228);
                        height: 20px;
                        width: 20%;
                        border-radius:50px;
                        padding:5px;
                        left: 50%;

                    }
                    
                    .search-btn {
                        float: right;
                        width: 15px;
                        height: 15px;
                        padding: 3px;
                        background: #ff595f;
                        position:relative;
                        border-radius: 50px;
                        }
                    
            
                    .search {
                        border: none;
                        height:100%;
                        width: 75%;
                        border-radius: 50px;
                        font-size: 12px;
                        font-family: "Tahoma";
                        color: black;
                        font-weight: 500px;
                    }
                    
                    .search:focus {
                        outline: none;
                    }
                    
                    .test {
                        background-color: rgb(255, 255, 255);
                        top: 20%;
                        height: 40%;
                        width: 25%;
                        padding: 5px;
                        position: relative;
                        float: right; 
                        display: flex;
                    }

                    .web {
                        margin-right: 20px;
                        padding-top: 5px;
                      
                        }
                         
   .account{
     margin: auto;
     top: 10%;
     height: 20px;
     width: 20%;
     padding:5px;
     float: right;
     border-radius: 50px;
     background: rgb(228, 228, 228);
     }


   .account img {
     margin-top: 3px;
     margin-bottom: 3px;
     margin-right: 4px;
     margin-left: 4px;
                        }

.garisbawah {
  background-color:#ff595f;
  height: 4px;
  width: 99%;
   }
   .garisbawah2 {
    background-color:#6b6b6b;
    height: 1px;
    width: 100%;
    opacity: 50%;
     }
 
     .sharemobile {
         display: none;
     }


.row1a img {
    margin-right: 8px;
    height: 15px;
}

.row5 .garisbawah2{
    margin-top: 30px;
}

.image1 {
    height: 100%;
    width:49.5%;
    margin-right: 0.5%;
    background-color: rgb(255, 255, 255);
    float: left;
    position:relative;
}

.image1:nth-child(1) img {
    border-radius: 20px 0px 0px 20px;
}

.image2 {
    height: 49%;
    width:49%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: rgb(255, 255, 255);
    float: left;
    position:relative;
}

.image3 {
    height: 48%;
    width:48%;
    margin-top: 10%;
    background-color: rgb(29, 29, 29);
    float: left;
    position:absolute;
    border-radius: 20px;
}


h1 {
font-size: 25px;
font-family: "Tahoma";
display: inline-block;
margin: 2px;
margin-right: 50%;
font-weight: lighter;
}

h2 {
    padding-top: 12px;
    font-size: 13px;
    font-family: "Tahoma";  
    text-decoration-color: rgb(0, 0, 0);
    text-decoration: underline;  
    display: inline-block;
    margin: 2px;
    }
    
h3 {
    padding-top: 12px;
    font-size: 13px;
    font-family: "Tahoma";  
    display: inline-block;
    margin: 2px;
}

h4 {
    padding-top: 12px;
    font-size: 13px;
    font-family: "Tahoma";  
    text-decoration-color: rgb(0, 0, 0);
    text-decoration: underline;  
    float: right;
    margin-left: 5px;
    margin-right: 15px;

}

h5 {
    padding-top: 12px;
    font-size: 10px;
    font-family: "Tahoma";  
    display: inline-block;
    text-decoration: underline;  
    text-decoration-color: rgb(0, 0, 0);
    margin: 2px;
    opacity: 50%;
}


h6 {
    font-size: 20px;
    font-family: "Tahoma";
    font-weight:lighter;
    display: inline-block;
}

.T2 {
    font-size: 18px;
    font-family: "Tahoma";
    font-weight:lighter;
    display: inline-block;
    position: absolute;
    margin-top: 1px;
    margin-left: 5%;

}

.T3 {
    font-size: 20px;
    font-family: "Tahoma";
    font-weight:lighter;
    display: inline-block;
    margin-top: 8px;

}

.T4 {
        font-size: 20px;
        font-family: "Tahoma";
        font-weight:lighter;
        text-decoration:line-through;
        opacity: 50%;
        display: inline-block;
        margin-top: 8px;
    
}

.T5 {
    padding-top: 5px;
    font-size: 13px;
    font-family: "Tahoma";  
    display: inline-block;
    margin: 2px;
    opacity: 50%;

}

.T5a {
    font-size: 13px;
    font-family: "Tahoma";  
    font-weight: lighter;
    display: inline-block;
    margin: 2px;
    text-decoration:underline;

}

.T5b {
    font-size: 13px;
    font-weight: lighter;
    font-family: "Tahoma";  
    display: relative;
    float: right;
    margin: 2px;

}

.T5bg {
    font-size: 13px;
    font-family: "Tahoma";  
    font-weight: bolder;
    display: relative;
    float: right;
    margin: 2px;
    opacity: 100%;
    color: green;

}

.T5bb {
    font-size: 13px;
    font-family: "Tahoma";  
    font-weight: bolder;
    display: relative;
    float: right;
    margin: 2px;
    opacity: 100%;
    color: rgb(0, 0, 0);

}

.T5bB {
   
    font-size: 13px;
    font-family: "Tahoma";  
    font-weight: bolder;
    display: inline-block;
    margin: 2px;
    opacity: 100%;
    color: rgb(0, 0, 0);
}

.T6 {
    padding-top: 5px;
    font-size: 15px;
    font-family: "Tahoma";
    font-weight: bolder;
}

.T6w {
    padding-top: 10px;
    font-size: 15px;
    font-family: "Tahoma";
    font-weight: bolder;
    color: white;
    margin-left: 39%;
}


.T7 {
    padding-top: 5px;
    font-size: 12px;
    font-family: "Tahoma";
    opacity: 50%;
}

.T7b {
    padding-top: 5px;
    font-size: 12px;
    font-family: "Tahoma";
    opacity: 50%;
    text-decoration: line-through;
}

.T8 {
    padding-top: 35px;
    font-size: 12px;
    font-family: "Tahoma";  
    display: inline-block;
    margin: 2px;
    opacity: 50%;

}

.T8 {
    font-size: 12px;
    font-family: "Tahoma";  
    display: inline-block;
    margin: 2px;
    opacity: 50%;
    margin-top: 15px;

}

.T9 {
    padding-top: 1px;
    font-size: 12px;
    font-family: "Tahoma";  
    text-decoration-color: rgb(0, 0, 0);
    text-decoration: underline;  
    display: inline-block;
    opacity: 50%;

}

.T10 {
    padding-top: 5px;
    font-size: 12px;
    font-family: "Tahoma";
    font-weight: bolder;
    display: inline-block;
    margin-top: 7%;
    margin-left: 15%;
}

.T10a {
    padding-top: 5px;
    font-size: 12px;
    font-family: "Tahoma";
    display: inline-block;
    margin-right: 15%;
}

.T10b {
    padding-top: 5px;
    font-size: 12px;
    font-family: "Tahoma";
    display: inline-block;
    margin-left: 15%;
}

.minibox {
   display:none;
}

.home {
    display: none;
}

.row1a {
    height: 49%;
    width: 100%;  
    background-color: rgb(255, 255, 255);
}

.madeby {
height: 25%;
width: 100%;
background-color: rgb(255, 255, 255);
}

.ikon {
height: 35%;
width: 8.5%;
padding: 10px;
float: right;
margin: 5%;
background-color: rgb(255, 255, 255);

} 

.ikon img {
    height:50px;
}

.writing .garisbawah2 {
margin-top: 10px;
display: block;
}

.Date {
display: none;
}

.text {
    height: 35%;
    width: 50%;
    padding: 10px;
    float: left;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
}

.text h6 {
    font-size: 25px; 
}

.bar {
    padding-top: 2%;
    height: 11%;
    width: 100%;
    float: left;
    background-color: rgb(255, 255, 255);

}

.box {
    height: 20%;
    width: 100%;
    float: left;
    padding-top: 2%;
    background-color: rgb(255, 255, 255);

}

.boxbar {
    height: 75%;
    width: 7%;
    float: left;
    background-color: rgb(255, 255, 255);
        } 

.boxbar img {
margin-top: 8%;
padding: 5%;

}

.textbar {
   margin-left: 2%;
    height: 100%;
    width: 80%;
    float: left;
    background-color: rgb(255, 255, 255);
}

.reserve {
    background: rgb(255, 255, 255);
    height: 460px;
    width: 80%;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    border:1px solid rgb(68, 68, 68);
    border-radius: 10px;
}

.writing {
    background: rgb(255, 255, 255);
    height: 20%;
    width: 100%;
    margin-top: 12%;

}

.writing .T7 {
margin-left:27%
}

.diskon {
    background: rgb(255, 255, 255);
    height: 10%;
    width: 92%;
    margin-left: 2%;
    margin-top: 2%;
}

.diskon .right {
    position: relative;
    float: right;
}


.reserved {
    background: rgb(255, 255, 255);
    height: 90px;
    width: 80%;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    border:1px solid rgb(68, 68, 68);
    border-radius: 10px;
}

.report {
    background: rgb(255, 255, 255);
    height: 20px;
    width: 80%;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

.report img {
margin-left:32%;
}

.row5box {
    background: rgb(255, 255, 255);
    height: 90%;
    width: 80%;
    position: relative;
    float: left;
    margin-top: 3%;

}


.row5box .image3 {
    margin-top: 40px;
}


.textrow5 {
     position:absolute;
     margin-top: 48%;
    height: 20%;
     width: 30%;
     background-color: rgb(255, 255, 255);
 }

.boxbar {
    margin-left: 3px;
}

.bigbox{
height: 200px;
width: 100%;
background-color: rgb(255, 255, 255);
margin-top: 5%;
}

 .smallbox {
    height: 13%;
    width: 45%;
    float: left;
    margin-right: 5%;
    margin-bottom:2%;
    background-color: rgb(255, 255, 255);
        } 

 .showallbox {
    height: 15%;
    width: 40%;
    float: left;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    border:1px solid rgb(68, 68, 68);
    border-radius: 10px;
        } 

.last {
    margin-top:7%;
    margin-left:8%;
}

.pic {
height:100%;
width:15%;
background-color: rgb(255, 255, 255);
}

.pic img {
    margin: 9%;
}

.boxtext {
    height:100%;
    width: 70%;
    background-color: rgb(255, 255, 255);
    position: right;
    }
    
    .smallboxbar {
        height: 100%;
        width: 12%;
        float: left;
        background-color: rgb(255, 255, 255);
            } 

     .smallboxbar img {
                height: 25px;
            }
    

    .smalltextbar {
        padding-top: 2px;
        margin-left: 3%;
        height: 100%;
        width: 80%;
        float: right;
        background-color: rgb(255, 255, 255);

    }
 
    .reservebutton {
    height:90%;
    width: 92%;
    background-color: #ff595f;
    margin: 4%;
    border-radius: 10px;
    }

    table.content-table { 
        border: 1px solid #ddd;
        border-collapse: separate;
        border-left: 0;
        border-radius: 5px;
        border-spacing: 0px;
        margin-top: 8%;
        margin-left: 4%;
        min-width: 92%;
        text-align: left;

    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    th, td {
        padding: 5px 4px 6px 4px; 
        text-align: left;
        border-left: 1px solid #ddd; 
        font-family: "Tahoma";  
    }
    td {
        border-bottom: 1px solid #ddd; 
        font-size: 14px; 
    }
   
    th {
        font-size: 10px;  
    }
    
    
    @media only screen and  (max-width: 1053px){
      
        .container {
            height: 100vh;
            width: 696px;

        }

        nav .menu  {
           display: none;
        }

        nav .search-box  {
            display: none;
         }
         
         nav .test {
            display: none;   
         }

         nav .menumobile {
            margin-top: 20px;
            margin-left: 30px;
            width: 50%;
            height: 35px; 
            background: rgb(255, 255, 255);  
            position: absolute;
            display: block;
        }

        nav .sharemobile {
            margin-top: 20px;
            margin-right:5%;
            width: 30%;
            height: 35px; 
            background: rgb(255, 255, 255);  
            display: block;
            float: right;
        }

        nav .sharemobile img {
            float: right;
            margin-left: 20px;
        }

        .garisbawah {
            display: none;
        }

        .image1 {
            width: 100%;
        }

        .image1:nth-child(2) {
            display: none;
        }
        
        .imageicon {
            display: none;
        }
        
        .row {
            display: flex;
             flex-flow: column-reverse;
        
        }
        
        .row1 {
            height: max-content;
        }
        
        .row1 .garisbawah2 {
            display: block;
            margin-top: 10px;
        }


        .row1 h4 {
            display: none;
        }

        .row1a img {
            height:25px;
            margin-left: 30px;
        }

        h2  {
   
            font-size: 20px ;
        }

        h3  {
            font-size: 20px ;
        }

        h5 {
            font-size: 15px ;

        }

        h1 {
            width: 80%;
            font-size: 40px;
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 0px;
        }
        
        .text h6 {
            font-size: 25px ; 
        }

        .row3 {
            width: 100%;
        }

        .row4 {
            width: 100%; 
            height:70px;

        }

        .row4 .garisbawah2 {
            margin-top: 35px;
            display: block;
            width: 100%;
        }  

        .reserve {
            width: 94%;
            height: max-content;
            margin-left: 2%;
            margin-top: 0%;
            border: none;
        }

        .T3 {
            font-size: 30px;
        }

        .T4 {
            font-size: 30px;
        }

        .T5 {
            font-size: 20px;
        }

       
        .reserve .right {
            display: none;
        }
    
        table.content-table {
            display: none;
        }

        .reservebutton {
            height: 80px;
            width: 30%;
            float: right;
            margin-top: -11%;
            margin-right: -5%;
        }

        .reservebutton .T6w {
            margin-top:20px;
            margin-left:33%;
        }

        .writing {
            display: none;
        }

    .reserved {
    display: none;
    }

    .report {
        display: none;
        }

    .madeby {
        margin-top: 30px;
        width: 100%;
        height: 200px;
    }

    .text {
        width: 70%;
    }

    .text h6 {
        font-size: 25px ; 
        display: block;
        margin-left: 4%;
        margin-top: 12px;

    }
 
    .ikon {
        margin-top: 10%;
        margin-right:40px;
    }

    .ikon img {
        height:60px;
        
    }


    .text .T5 {
        margin-top: 15px;
        margin-left: 4%;
    }

 .row5 {
     width: 100%;
     height: 500px;
     display: block;
 }
 .row5box {
    width: 80%;
 }

 .row5box h6 {
     float: left;
     margin-left: 5%;
     font-size: 30px;
     margin-top:15px;
 }

 .image1:nth-child(1) img {
    border-radius: 0px 0px 0px 0px;
}

.image3 {
    margin-top: 10px;
    margin-left: -48%;

}
.row5box .T6 {
    margin-left:15%;
    font-size: 20px;
}

.row5box .T7 {
    font-size: 20px;
}

.row6 {
    width: 100%;
}

.bigbox {
    width: 100%;
}

.smallbox {
margin-top: 15px;
margin-left: 5%;
width: 100%;
}

.smalltextbar {
    margin-right: 45px;
}

.smallboxbar {
    width: 7%;
}

.smallboxbar img {
    height: 32px;
}


.smalltextbar .T7 {
    font-size: 20px;
}

.T7b {
    font-size: 20px;
}

.showallbox {
width: 100%;
margin-left: 10%;
margin-top: 5%;
}

.last {
    margin-top: 10px; 
}

.last .T6 {
margin-left: 25%;
font-size: 20px;

}
 

.Date {
    display: block;
    }


    .boxbar {
        margin-left: 3%;
    }

    .image3 {
    margin-left:3%;
    margin-top:12%;
    }

    .textrow5 .T6 {
        margin-left:10%;
        font-size:25px;
    
    }

    .textrow5 .T7 {
        margin-left:10%;
        font-size:20px;
    }

.minibox {
    display:block; 
    height: 10px;
    width: 20px;
    background: rgb(255, 255, 255);  
    float:right;
    position: relative;
 }
}